/* Reset de estilos e estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background:#fff;
    color: #008839;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2rem;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #008839;
    
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 

section h2 {
    font-size: 1.8rem;
    color: #008839;
    margin-bottom: 10px;
}

section p {
    font-size: 1.1rem;
    line-height: 1.8;
}

#capa {
     display: flex 
    
}

#inicio {
    padding: 5% 5% 5% 5%;
    background-color: #f8f9fa;
    color: #333;
    
}

#geral{
    display: flex;
    text-align: center;
    
}

#visitavirtual {max-width: 30%;}
#acervo {max-width: 30%;}
#agenda {max-width: 30%;}
.icone {
    max-width: 50%;
    padding: 2% 2% 2% 2% ;
    border-radius: 50%;
    background-color: #008839;
    }

.icone:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(43, 46, 45, 0.5);
}
#fotos{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    }

.foto {
    width: 20%;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #008839;
    color: #fff;
}

footer p {
    font-size: 0.9rem;
}
